@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Creepster&family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/*===== Colores =====*/
:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}

/*===== Fuente y tipografia =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
/*===== Margenes =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}



.navbar-change {
background-color: #0002;
border-bottom: 1px solid ;
box-shadow: 1px 1px 4px rgba(240, 214, 214, 0.9);
margin-top: 0.1rem;

}
.navbar-brand {
    font-size: 1.6rem !important;
    font-weight: 500 !important;
    font-family: cabin sketch !important;
    color: azure !important;
}


.soft-nav {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
    color: red;
    font-family: cabin sketch;
}




nav a.navlink {
letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
    font-family: roboto Condensed;
}

.navbar-nav > li > a {
    color: azure !important;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border-top: 0.1875rem solid rgba(255, 255, 255, 0) !important;
    line-height: 2.3rem;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;   
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover {
    border-top: 0.1875rem solid red !important;
}

.navbar-nav > li > a.hover {
    border-top: 0.1875rem solid red !important;
}

.navbar-toggler {
    background-color: whitesmoke !important;
    outline: none !important;
    border: none;
}



/*****************TYPED TEST*************************/

.typed-text {
    font-size: 1.5rem;
    color: red;
    font-family: roboto Condensed;
    letter-spacing: 0.5rem;
}

/*****************BUTTON*************************/

.btn-main-offer {
    border: 1px solid azure;
    text-transform: capitalize;
    border-radius: 7px;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: azure;
    margin: 2rem;
}


a {
    text-decoration: none !important;   
}

.btn-main-offer:hover {
    text-decoration: none;
    
    background-color: #000;
    color: #fff;
    transition: .2 ease-in-out;
}

/*****************HOMEPAGE*************************/

.header-wrapper {
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.7) 100%), url(./exec.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: roboto Condensed;
    text-shadow: 2px 2px 4px #000000;
}

.main-info h1{
    color: azure;
    text-transform: uppercase;
    font-size: var(--mb-4);
    text-shadow: 4px 4px 6px #000008 !important;
    line-height: 5rem;
    margin-top: 8rem;
    letter-spacing: 0.5rem;
    font-family: roboto Condensed;
}

@media(max-width: 768px) {
   .main-info h1 {
       font-size: 1.5rem;
       letter-spacing: 0.2rem;
       line-height: 3rem;
       padding: 1rem;
   } 

   .typed-text{
       font-size: 1rem !important;
       letter-spacing: 0.1rem;
       padding: 0 1rem;
   }

   .navbar-change {
background-color: #000;
box-shadow: 1px 1px 4px rgb(240, 214, 214);
}

.navbar-nav > li > a {
    justify-content: space-around;
    line-height: var(--mb-3);
}


.soft-nav{
   font-size: 1.4rem !important;   
}

.navbar-brand {
    font-size: 1.3rem !important;
}

.main {
    padding: 7px;
    width: 100%;
    
}
.load {
font-size: 10px;
margin: 3px;
}
}



.main {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 10px;
      line-height: 50px;
      background-color: #000000;
      
}

.load {
    height: 50px;
    width: 40px;
    
    font-size: 18px;
    color: #fff;
    border-radius: 30%;
    margin: 4px;
    animation: animate 3s alternate infinite;
}

@keyframes animate {
  0% {
      transform:rotateY(0deg);
  } 
  50% {
      transform:rotateY(360deg);
  } 
  100% {
      transform:rotateY(0deg);
  }  
}

.load :nth-child(1){
    animation-delay: .2s;
}
.load :nth-child(2){
    animation-delay: .4s;
}
.load :nth-child(3){
    animation-delay: .6s;
}
.load :nth-child(4){
    animation-delay: .8s;
}
.load :nth-child(5){
    animation-delay: 1s;
}
.load :nth-child(6){
    animation-delay: 1.2s;
}
.load :nth-child(7){
    animation-delay: 1.4s;
}
.load :nth-child(8){
    animation-delay: 1.6s;
}









 

    /*************************Footer***************************/
footer {
  background-color: #000;
  padding: 1.6rem 1rem;
  text-align: center;
  position: absolute;
  bottom: 50;
  width: 100%;
}

footer p {
  color: #fff;
}

footer p span {
  color: #dd9a05;
}

.soft {
    color: red;
}



    /*************************media query**************************/

